<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity_boarding_details2"></activity>
        <activity android:name=".Food_feed" />
        <activity android:name=".Update_Delete_Shop" />
        <activity android:name=".Update_Delete_Food" />
        <activity android:name=".Add_Food_Shop" />
        <activity android:name=".Add_Foods" />
        <activity android:name=".deliver" />
        <activity android:name=".order" />
        <activity android:name=".maps" />
        <activity android:name=".log" />
        <activity android:name=".seller_profile" />
        <activity android:name=".Filter" />
        <activity android:name=".register" />
        <activity android:name=".User" />
        <activity android:name=".search" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>